<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Histórico
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary" (click)="close()">
        Fechar
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="lstMyQuests">
    <div class="ion-text-center ion-padding" *ngIf="lstMyQuests.length == 0">
      Você não completou quizzes ainda!
    </div>
    <ion-item lines="full" *ngFor="let item of lstMyQuests">
      <ion-label class="ion-text-wrap">
        <h2>{{item.title}}</h2>
        <p>{{item.attempts}} tentativa(s) - {{item.numRA}}/{{item.numQuest}} questões corretas
          ({{((item.numRA / item.numQuest) * 100) | number : '1.0-0'}}%)</p>
        <p>Você ganhou <strong>{{item.talents}} talentos</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="talents">
  <ion-toolbar>
    <div class="ion-text-center">
      <small>Você possui <strong>{{talents}}</strong> talentos.</small>
    </div>
  </ion-toolbar>
</ion-footer>