<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button (click)="showMyQuestsModal()">
        <ion-icon slot="end" name="server-outline"></ion-icon>
        Ver Histórico
      </ion-button>
    </ion-buttons>
    <ion-title>
      Queasy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="lstQuestionnaires">
  <ion-list>
    <div class="ion-text-center ion-padding" *ngIf="lstQuestionnaires.length == 0">
      Não há quizzes cadastrados no momento!
    </div>
    <ion-item lines="full" button *ngFor="let item of lstQuestionnaires" (click)="showActions(item)">
      <ion-thumbnail slot="start">
        <img src="{{item.image}}">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{item.title}}</h2>
        <p>{{item.numQuest}} questões</p>
      </ion-label>

      <ion-icon color="{{wasDone(item.id) ? 'success' : 'blank'}}"
        name="checkmark-outline" slot="end"></ion-icon>

    </ion-item>
  </ion-list>
</ion-content>