<ion-content color="secondary">
  <div class="fullheight xc ion-text-center">
    <ion-card class="ion-padding">
      <img src="../../../assets/icons/icon-72x72.png" />
      <ion-card-header>
        <ion-card-title><strong>Queasy</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Aprender é divertido.
      </ion-card-content>
      <ion-button fill="clear" color="secondary" expand="block" [routerLink]="['/quests']">
        <ion-icon slot="start" name="caret-forward-circle-outline"></ion-icon>
        Começar
      </ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <small>Queasy (v.1.0) - PAPJ &copy; {{year | date: 'yyyy'}}</small>
    </div>
  </ion-toolbar>
</ion-footer>