<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quests"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Queasy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="questionnaire">
    <ion-card-content>
      <div class="ion-text-center ion-text-wrap">
        <h2><strong>{{questionnaire.title}}</strong></h2>
        <p>{{questionnaire.numQuest}} questões</p>
        <img src="{{questionnaire.image}}" />
      </div>
      <ion-button color="success" expand="block" (click)="showQuestionsModal()">Iniciar</ion-button>
      <div class="ion-text-left">
        <br />
        <div [innerHtml]="questionnaire.desc | safeStyle"></div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>