<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quests"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary" *ngIf="questionnaire">
      <ion-button (click)="showConfirmStart()">
        <ion-icon slot="start" name="play-circle-outline"></ion-icon>
        Iniciar
      </ion-button>
    </ion-buttons>
    <ion-title>
      Queasy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="questionnaire">
    <ion-card-header class="ion-text-center ion-text-wrap">
      <ion-card-title><strong>{{questionnaire.title}}</strong></ion-card-title>
      <ion-card-subtitle>{{questionnaire.numQuest}} questões</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-left ion-text-wrap">
        <div [innerHtml]="questionnaire.desc | safeStyle"></div>
        <br />
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>