<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Tentativas
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary" (click)="showConfirmClose()">
        Fechar
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item-divider>
      <ion-label>
        <ion-text class="ion-text-center" color="secondary">Questão {{currentIndex + 1}} de {{questions.length}}</ion-text>
        <h2 class="ion-text-wrap"><strong>{{currentQuestion.question}}</strong></h2>
      </ion-label>
    </ion-item-divider>
    <ion-item button detail (click)="answer('A')">
      <ion-label class="ion-text-wrap">
        A. {{currentQuestion.A}}
      </ion-label>
    </ion-item>
    <ion-item button detail (click)="answer('B')">
      <ion-label class="ion-text-wrap">
        B. {{currentQuestion.B}}
      </ion-label>
    </ion-item>
    <ion-item button detail *ngIf="currentQuestion.C" (click)="answer('C')">
      <ion-label class="ion-text-wrap">
        C. {{currentQuestion.C}}
      </ion-label>
    </ion-item>
    <ion-item button detail *ngIf="currentQuestion.D" (click)="answer('D')">
      <ion-label class="ion-text-wrap">
        D. {{currentQuestion.D}}
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <small>Clique sobre a alternativa correta</small>
    </div>
  </ion-toolbar>
</ion-footer>